@font-face {
    font-family: "RobotoMedium";
    font-weight: 500;
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "UbuntuMedium";
    font-weight: 500;
    src: url("../fonts/Ubuntu-Medium.ttf");
}

@font-face {
    font-family: "UbuntuRegular";
    font-weight: 400;
    src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "WorkSansBold";
    font-weight: 700;
    src: url("../fonts/WorkSans-Bold.ttf");
}

@font-face {
    font-family: "WorkSansMedium";
    font-weight: 500;
    src: url("../fonts/WorkSans-Medium.ttf");
}

@font-face {
    font-family: "WorkSansRegular";
    font-weight: 400;
    src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
    font-family: "WorkSansSemiBold";
    font-weight: 600;
    src: url("../fonts/WorkSans-SemiBold.ttf");
}